<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<body>
		
		<h1>常见问题帮助</h1>
<p>1.每次都需要重新选择模版，不能记住我的选择</p> 
<p>答：请编辑您需要选择的，然后在右下角勾选设置为默认模版，点击保存即可。</p>
<p>2.打印的位置不准确</p> 
<p>答：你可以编辑您需要使用的模版，拖动内容到合适的位置，测试打印正常后，点击保存，</p> 
<p>系统会自动记录您的设置。下次直接使用即可。</p> 
<p>3.打印内容需要调整</p> 
<p>答：你可以编辑您需要使用的模版，点击设置打印内容，选择您需要打印的内容后保存设置。</p> 
<p>红色文字为必选内容</p> 
<p>4.快递单大小与系统默认不一致。</p> 
<p>答：你可以编辑您需要使用的模版，点击设置大小，单位是毫米。完成后保存设置即可</p> 
<p>5.打印出来的文字非常小，或者非常大。</p> 
<p>答：您需要设置您打印机的分辨率。设置步骤为可以适应的分辨率</p> 
	</body>
</html>
